/********** CONTAINER ****************/

.container.credits-page {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
  .container.credits-page {
    grid-template-columns: 1fr;
  }

  .container.credits-page {
    grid-template-areas:
      'header'
      'info'
      'nav';
  }
}

/************ NAVIGATION ************/

.credits-page .navigation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media (max-width: 480px) {
  .credits-page .navigation-container {
    grid-template-columns: 1fr;
  }
}

.credits-page .navigation-container .wrapper:nth-child(1),
.credits-page .navigation-container .wrapper:nth-last-child(2),
.credits-page .navigation-container .wrapper:nth-last-child(1) {
  grid-column: 1 / -1;
  justify-content: center;
}

.credits-page button {
  margin: 15px 5px;
}

.credits-page .navigation-container .mentor {
  background-color: var(--secondary-btn-color);
}

.credits-page .navigation-container .go-home {
  margin-top: 40px;
}

/********** BUBBLE SPACE *********/

.credits-page .bubbles {
  width: 35%;
}

.credits-page .animal {
  width: 75%;
  align-self: center;
}

@media (max-width: 960px) {
  .credits-page .bubbles {
    width: 80%;
  }

  .credits-page .animal {
    width: 60%;
  }
}
