.quizSettings {
  width: 100%;
  color: white;
}

#quizSettingsForm {
  padding-top: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  color: white;
}

form div {
  width: 100%;
  display: grid;
  grid-template-columns: [first] 1fr [second] 1fr [third];
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 5%;
}

input {
  border: 0px;
  border-radius: 7px;
  max-width: 100%;
  max-width: 450px;
  background-color: #658080;
  height: 50px;
  display: inline-block;
}

.radioButton {
  color: white !important;
  display: flex;
  flex-direction: column;
}

.radioButton:checked {
  color: white !important;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 100%;
  max-width: 450px;
  min-height: 50px;
}

input[type='radio']:checked {
  background-color: #3e505b;
  color: white;
}

input[type='radio']:hover {
  background-color: #3e505b;
  color: white;
}

input[type='submit']:active {
  background-color: #3e505b;
  color: white;
}

form p {
  grid-column-start: first;
  grid-column-end: third;
}

#number {
  width: 40%;
  grid-column-start: first;
  grid-column-end: third;
  text-align: center;
}

#number:hover {
  background-color: #3e505b;
  color: white;
}

#submit {
  width: 40%;
  margin-top: 100px;
  color: white;
}

#submit:hover {
  width: 40%;
  margin-top: 100px;
  background-color: #3e505b;
}

label {
  color: white;
  position: relative;
  top: -45px;
}
