$bg-color: #8ab0ab;
$btn-color: #658080;
$secondary-btn-color: #655010;
$hover-btn-color: #3e505b;
$bubble-color: #410606;

$media-alpha: 320px;
$media-beta: 480px;
$media-gamma: 640px;
$media-delta: 960px;

$sides: top, bottom, left, right;

$animal-list: (
  dog: '../adoption-dog.jpg',
  cat: '../adoption-cat.jpg',
  bird: '../adoption-bird.jpg',
);
