/********** CONTAINER ****************/

.adoption-page.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    'header'
    'text'
    'options'
    'animal';
  grid-gap: 10px;
}

/*********** TEXT SPACE ******************/

.adoption-page .text-container {
  grid-area: text;
}

.adoption-page .text-container p {
  margin: 10px 0;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

/*********** NAVIGATION ******************/
.adoption-page .navigation-container {
  margin: 10px 0;
}

.adoption-page .navigation-container ul {
  grid-area: options;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 960px) {
  .adoption-page .navigation-container ul {
    flex-direction: column;
  }

  .adoption-page .navigation-container li {
    margin-bottom: 20px;
  }
}

.adoption-page .navigation-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 200px;
  text-decoration: none;
  border-radius: 10px;
}

.adoption-page .navigation-container .dog {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../adoption-dog.jpg), no-repeat;
  background-size: 290px;
  background-position: center center;
}

.adoption-page .navigation-container .dog:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../adoption-dog.jpg), no-repeat;
  background-size: 290px;
  background-position: center center;
  transform: scale(1.1);
  transition: ease-in-out all 0.4s;
}

.adoption-page .navigation-container .cat {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../adoption-cat.jpg), no-repeat;
  background-size: 290px;
  background-position: center center;
}

.adoption-page .navigation-container .cat:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../adoption-cat.jpg), no-repeat;
  background-size: 290px;
  background-position: center center;
  transform: scale(1.1);
  transition: ease-in-out all 0.4s;
}

.adoption-page .navigation-container .bird {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../adoption-bird.jpg), no-repeat;
  background-size: 290px;
  background-position: center center;
}

.adoption-page .navigation-container .bird:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../adoption-bird.jpg), no-repeat;
  background-size: 300px;
  background-position: center center;
  transform: scale(1.1);
  transition: ease-in-out all 0.4s;
}

.adoption-page .navigation-container span {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 4px 4px 4px #000000;
}

.adoption-page .go-home {
  margin-top: 40px;
}

/******* ANIMAL SPACE ******/

.adoption-page .main-animal {
  grid-area: animal;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.adoption-page .main-animal img {
  max-width: 400px;
}

@media (max-width: 960px) {
  .adoption-page .main-animal img {
    max-width: 80%;
  }
}
