/********** CONTAINER ****************/

.container.main-page {
  grid-template-columns: 2fr 5fr;
}

.container.credits-page {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
  .container.main-page {
    grid-template-columns: 1fr;
  }

  .container.main-page {
    grid-template-areas:
      'header'
      'nav'
      'info';
  }
}

/************ NAVIGATION *******************/

.main-page .navigation-container {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (min-with: 320px) and (max-width: 960px) {
  .main-page .navigation-container button {
    width: 50vw;
  }
}

/********** BUBBLE SPACE *********/

.main-page .bubbles {
  width: 60%;
}

.main-page .animal {
  width: 40%;
  align-self: center;
}

@media (max-width: 960px) {
  .main-page .bubbles {
    width: 80%;
  }

  .main-page .animal {
    width: 60%;
  }
}
