/********** CONTAINER ****************/
.main-page-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-areas:
    'header header'
    'nav info';
  grid-gap: 10px;
}

@media (max-width: 960px) {
  .main-page-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'nav'
      'info';
  }
}

/************ HEADER *****************/

.header {
  grid-area: header;
}

.header h1 {
  font-size: 8vw;
}

/*********** NAVIGATION ************/

.navigation-container {
  grid-area: nav;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 960px) {
  .navigation-container button {
    width: 50vw;
  }
}

/******* INFO SPACE ******/

.info {
  grid-area: info;

  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 960px) {
  .info {
    justify-content: center;
    flex-direction: column;
  }
}

.bubbles {
  width: 60%;
}

.animal {
  width: 40%;
  align-self: center;
}

@media (max-width: 960px) {
  .bubbles {
    width: 100%;
  }
  .animal {
    width: 60%;
  }
}

.animal img {
  width: 100%;
}

/******* INFO BUBBLE ******/

.bubble {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;

  background: var(--bubble-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-weight: 100;
  margin-bottom: 30px;

  position: relative;
}

.bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 20%;
  left: 100%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 30px solid var(--bubble-color);
}

.bubble.fact:after {
  top: 60%;
}

.bubble a {
  color: white;
}

@media (max-width: 960px) {
  .bubble:after {
    top: 100%;
    left: 40%;
    border-bottom: 20px solid transparent;
    border-top: 30px solid var(--bubble-color);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
  }

  .bubble.fact:after {
    top: 100%;
    left: 20%;
  }
}

.bubble img {
  width: 100%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
