:root {
  background-color: #8ab0ab;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 5.4rem;
  color:whitesmoke;
  margin-bottom: 3rem;
}


/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

#finalScore {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  border: 1em;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: #3e505b;
}

.btn.menuBtn {
  font-weight: 700;
  width: 25rem;
  height: 6rem;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.btn.playAgain {
  font-weight: 700;
  width: 25rem;
  height: 6rem;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

input {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 40rem;
  height: 60px;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 15px;
 background-color:rgba(62, 80, 91, 0.4);
}

input::placeholder {
  color: whitesmoke;
}
