.score-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: 0;
}

select {
  width: 80%;
  min-width: 15ch;
  max-width: 30ch;
}

.dropList-filter {
  display: flex;
  flex-direction: row;
}

.score-range {
  display: flex;
}

input.min,
input.max {
  text-align: center;
  margin-left: 10px;
  width: 40px;
  font-size: 60%;
  text-align: right;
}

#clearFilterBtn {
  margin-top: 3vh;
}

#settings {
  text-align: center;
}

#option {
  text-align: center;
}
@media (min-width: 320px) and (max-width: 960px) {
  .filter {
    margin: 0 2vh;
  }
  #settings {
    margin: 10px auto;
  }
  input.min,
  input.max {
    flex-direction: row;
    width: 40px;
    font-size: 3vmin;
  }
  .range {
    font-size: 4vmin;
  }
  #clearFilterBtn {
    width: min-content;
    font-size: 2vmin;
  }
  .dropList-filter {
    flex-direction: column;
    justify-content: space-around;
  }
  select {
    min-width: 10ch;
    max-width: 20ch;
    height: 2.3rem;
  }
}
