#clock {
  color: white;
  font-size: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

#clock img {
  height: 7vmin;
  max-height: 70px;
  width: auto;
  margin: 1vmin;
}
