/********** GENERAL ****************/

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  font-size: 16px;
}

:root {
  --bg-color: #8ab0ab;
  --btn-color: #658080;
  --secondary-btn-color: #655010;
  --hover-btn-color: #3e505b;
  --bubble-color: #410606;
}

body {
  background-color: var(--bg-color);
}

/********** CONTAINER ****************/
.container.main-page,
.container.credits-page {
  display: grid;
  grid-template-areas:
    'header header'
    'nav info';
  grid-gap: 10px;
}

@media (max-width: 960px) {
  .container.main-page,
  .container.credits-page {
    grid-template-columns: 1fr;
  }
}

/************ HEADER *****************/

.main-page .header,
.credits-page .header {
  grid-area: header;
}

.main-page .header h1,
.credits-page .header h1 {
  margin: 50px 0;
  font-size: 8vw;
}

@media (max-width: 480px) {
  .main-page .header h1,
  .credits-page .header h1 {
    font-size: 38px;
  }
}

/********** BUBBLE SPACE *********/
.main-page .info,
.credits-page .info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 960px) {
  .main-page .info,
  .credits-page .info {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 960px) {
  .main-page .bubbles,
  .credits-page .bubbles {
    width: 80%;
  }

  .main-page .animal,
  .credits-page .animal {
    width: 60%;
  }
}

.main-page .animal img,
.credits-page .animal img {
  width: 100%;
}
